.navbar {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    .navbar-nav {
        a {
            color: #000;
            &.active {
                color: #F35820;
            }
        }
    }
}